.App {
  display: flex;
  justify-content: center;
}

.Card {
  margin-top: 3%;
  margin-bottom: 10%;
  width: 30%;
  border-radius: 5px;
  box-shadow: 20px 20px 35px #d0d0d0, -20px -20px 35px #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
.logo {
  text-align: center;
}

.box img {
  text-align: center;
}

h1 {
  text-align: left;
  color: grey;
}

h3 {
  text-align: left;
  color: grey;
  font-size: 12px;
  margin-top: -10px;
}

input {
  text-align: left;
  padding: 32px;
}

.checkBox-Container {
  padding: 10px;
  font-size: 18px;
  margin: 10px;
}
input[type="checkbox"] {
  width: 18px;
  height: 18px;
}
button {
  margin: auto;
  width: 95%;
  height: 60px;
  margin: 10px;
  background-color: #3db2ff;
  color: white;
  padding: 10px;
  border: 0;
}
.centered-Button {
  text-align: center;
}