* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins";
    font-size: 22px;
}

/* Buatlah styling setiap section dibawah ini */

header{
	display: grid;
	text-align: center;
	margin: 32px;
}

.container .container_hero{
	display: grid;
	background-color: green;
	background-size: cover;
	border-radius: 10px;	
}
.container_hero h1{
	text-align: left;
	color: white;
}

.container_hero p{
	display: inline-block;
	text-align: right;
	color: white;
	font-size: 20px;
}

.container_bottom{
	text-align: left;
}

.container_support{
	text-align: center;
}

.container_support p{
	font-size: 10px;
	margin-top: 50px;
}

.container_support .logo img{
	margin: 70px;
	margin-top: 10px;
}

.container_features_title{
	text-decoration: underline;
	margin-bottom: 100px;
}

.container_features {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 30px;
	grid-row-gap: 30px;
}

.container_features-card{
	margin: auto;
    width: 90%;
    justify-content: center;
}

.container_features-card h3{
	text-align: center;
	font-size: 30px;
}

.container_features-card p{
	text-align: center;
	font-size: 15px;
}

.container_pricing_title{
	text-decoration: underline;
	margin-top: 100px;
	margin-bottom: 100px;
}

.container_pricing{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 30px;
	grid-row-gap: 30px;
	background-color: black;
	height: 200px;
}

.container_pricing-card{
	background-color: white;
	box-shadow:2.8px 2.8px 2.2px rgba(0,0,0,0.02),
	6.7px 6.7px 5.3px rgba(0,0,0,0.028),
	12.5px 12.5px 10px rgba(0,0,0,0.035),
	22.3px 22.3px 17.9px rgba(0,0,0,0.042),
	41.8px 41.8px 33.4px rgba(0,0,0,0.05), 
	100px 100px 80px rgba(0,0,0,0.07);
	margin: auto;
    width: 90%;
    justify-content: center;
    border-radius: 10px;
}

.container_pricing-card h1{
	text-align: center;
}

.container_pricing-card small{
	margin-left: 40%;
	font-size: 15px;
}


/* Aturlah breakpoint dibawah ini menggunakan media queries agar responsive dibawah sini*/

@media only screen and (max-width: 480px){
	.container{
		display: grid;
		grid-template-columns: 1fr;
		column-gap: 20px;
		grid-row-gap: 30px;
	}

	.container_features_title{
		display: grid;
	}

	.container_pricing_title{
		display: grid;
	}
}

@media only screen and (min-width: 480px) and ( max-width: 780px ){
	.container{
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 30px;
	    grid-row-gap: 30px;
	}
}